---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style is:global>
			:root {
				--accent-gradient: radial-gradient(
						at 13% 91%,
						hsla(283, 88%, 62%, 1) 0px,
						transparent 50%
					),
					radial-gradient(
						at 42% 68%,
						hsla(41, 83%, 67%, 1) 0px,
						transparent 50%
					),
					radial-gradient(
						at 53% 22%,
						hsla(345, 79%, 74%, 1) 0px,
						transparent 50%
					),
					radial-gradient(
						at 14% 75%,
						hsla(249, 87%, 77%, 1) 0px,
						transparent 50%
					),
					radial-gradient(
						at 54% 7%,
						hsla(96, 86%, 61%, 1) 0px,
						transparent 50%
					),
					radial-gradient(
						at 53% 87%,
						hsla(110, 69%, 71%, 1) 0px,
						transparent 50%
					),
					radial-gradient(
						at 71% 51%,
						hsla(318, 75%, 77%, 1) 0px,
						transparent 50%
					);
			}
			html {
				font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				margin: auto;
				background-image: url("severn-lodge.webp");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top left;
				margin: 0;
				overflow: hidden;
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
					monospace;
			}
		</style>
	</body>
</html>
